<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ben Brown Guest Book
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div class="flex">
    <div class="leftBlock">
      <img class="bbfa" src="assets/images/bbfa.jpg" />
    </div>
    <div class="rightBlock">
      <h1>Guest book</h1>
      <h2>Stay up to date with Ben Brown Fine Arts</h2>
    <!-- <img src="assets/images/logo.png" /> -->
<form #myForm="ngForm">
    <!-- <p>Is "myForm" valid? {{myForm.valid}}</p> -->
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input [(ngModel)]="firstName" name="firstName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone number</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-input type="text" [(ngModel)]="message" name="message"></ion-input>
    </ion-item>
    <!-- sign up section -->
    <div class="signUp">
        <ion-button color="primary" fill="clear" (click)="presentModal()">
            Read about how we use your data
          </ion-button>

      <ion-item>
        <ion-label>I understand how you will use my data</ion-label>
        <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      </ion-item>
     
      <br />
      <br />
      <br />
      <br />
      <ion-button color="primary" (click)="handleSubmit()">
        <ion-ripple-effect></ion-ripple-effect>
        Sign me up. I'd love to hear more!
      </ion-button>
      <ion-button (click)="presentAlertConfirm()">
        test
      </ion-button>
    </div>
    <!-- <pre>{{myForm.value | json}}</pre> -->
  </form>
    </div>

  </div>
</ion-content>